.me404 .st0 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #e8ebed;
  }
  .me404 .st1 {
    fill: #fff;
    stroke: #89949b;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .me404 .st14,
  .me404 .st15 {
    fill: none;
    stroke: #89949b;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .me404 .st14 {
    fill-rule: evenodd;
    clip-rule: evenodd;
  }
  .me404 .st10 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #89949b;
  }
  .me404 .st5 {
    fill-rule: evenodd;
    fill: #fff;
    clip-rule: evenodd;
    stroke: #89949b;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  